/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

/* Estilos para la portada */
#portada {
    background: linear-gradient(135deg, #ffff66, #ffcc66, #ff9966);
    text-align: center;
    padding: 50px 0;
}

#portada h1 {
    font-size: 3.8rem;
    font-family: 'Bodoni Moda SC', serif;
    font-weight: 600;
    margin-bottom: 10px;
}

#portada span {
    font-size: 2rem;
    color: rgb(31, 31, 31);
}

/* Estilos para el menú */
#menu {
    text-align: center;
    background-color: #333;
}

#menu a {
    color: rgb(161, 161, 161);
    text-decoration: safarIColor;
    margin: 0 30px;
}

/* Estilos para las secciones principales */
section, main {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón "Mostrar más" */
#mostrarMasBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

#mostrarMasBtn:hover {
    background-color: #0056b3;
}

/* Estilos para el formulario de contacto */
#contacto {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #ff79b0;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

.expandable {
    max-height: 100px; /* Altura máxima inicial */
    overflow: hidden; /* Ocultar contenido que excede la altura máxima */
    transition: max-height 0.3s ease; /* Transición suave de altura */
}

.expandable.expanded {
    max-height: none; /* Mostrar todo el contenido cuando está expandido */
}

/* este es el primer cudrardo despues de la portada*/

.container-box {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0; /* Inicialmente oculta el contenedor */
    transform: translateY(50px); /* Desplaza hacia abajo */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transiciones suaves */
}

.container-box.visible {
    opacity: 1; /* Muestra el contenedor */
    transform: translateY(0); /* Vuelve a la posición original */
}

.image-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-item {
    width: calc(25% - 10px);
    margin: 5px;
}

.image-item img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}






 /*  biografia */
 #biografia {
    background-color: #fff;
    padding: 40px 0;
}

.biografia-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.biografia {
    display: flex;
    align-items: center;
}

.texto-biografia {
    flex: 1;
    padding-right: 20px;
}

.imagen-biografia img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Animación de texto */
#titulo-biografia {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInRight 1s forwards;
    animation-delay: 0.5s; /* Retraso para que el título aparezca después */
}

#parrafo-biografia {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInRight 1s forwards;
    animation-delay: 1s; /* Retraso para que el párrafo aparezca después */
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.imagen-biografia img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s; /* Retraso para que la imagen aparezca después */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
